.chat {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: #FAFAFA;
    &__header {
        display: flex;
        height: 70px;
        padding: 0 15px;
        align-items: center;
        background-color: #F5F5F5;
        border: 1px solid #E6E6E6;
        justify-content: space-between;
        & .header {
            &__wrapper {
                display: flex;
                align-items: center;
            }
            &__name {
                margin-left: 12px;
                font-weight: 500;
            }
            &__back {
                width: 24px;
                height: 18px;
                background: url('/icons/back-icon.svg') center / cover no-repeat ;
                border: 0;
            }
        }
    }

    &__field {
        display: flex;
        max-height: 580px;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: flex-start;   
        padding: 16px 8px;
        overflow: auto;
        & .field {
            &__message {
                display: flex;
                max-width: 80%;
                margin-bottom: 20px;
                &_own {
                    align-self: flex-end;
                }

                & .message {
                    &__content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-left: 8px;
                        & .content {
                            &__text {
                                position: relative;
                                padding: 12px;
                                margin-bottom: 10px;
                                background-color: #3D4153;
                                border-radius: 50px;
                                color: #FAFAFA;
                                &_own {
                                    align-self: flex-end;
                                    background-color: #E0E0E0;
                                    color: #212121;
                                }
                            }

                            &__date {
                                display: block;
                                margin: 0 12px;
                                font-size: 12px;
                                color: #A8A8A8;
                                &_own {
                                    align-self: flex-end;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) { 
   
    .chat__field {
        max-height: 450px;
    }
 }
